
*{box-sizing: border-box; margin: 0; padding: 0;}
.header
{
    height: 100px;
    background: gray;
    text-align: center;
    padding: 35px;
}
.nav
{
    height: 50px;
    background: lightcoral;
    text-align: center;
    line-height: 50px;
    position: relative;
}
.nav .menu
{
    display: inline;
    margin-right: 20px;
}
.nav li .main-link
{
    text-decoration: none;
    color: #000;
    padding: 16px 15px;
    border-radius: 9px;
}
.nav .dropdwon
{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    list-style: none;
}
.nav .menu:hover .dropdwon
{
    display: block;
}
.slider
{
    height: 350px;
    background: url(https://i.pinimg.com/736x/2a/5a/4b/2a5a4b69a09bdb4c651bd29c64bdcc11.jpg);
    background-size: 100% 100%;
}
.content
{
    height: auto;
    background: lightgrey;
    padding: 40px;    
}
.content .products
{
    height: auto;
    width: 90%;
    background: lightpink;
    margin: auto;
    display: flex;
    padding: 25px;
}
.content .products .prd1,.prd2,.prd3,.prd4
{
    height: 300px;
    width: 25%;
    border: 3px solid blue;
    margin-right: 20px;
}
